#app {
	background-color: #ccc;
	border-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
body {
    background: #666;
    font-family: Courier, Monospace;
    padding: 30px;
}
