#app {

	background-color: #ccc;
	border-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#app .navbar {
  background-color: #fff;
}

.navbar-brand {
height: auto;
}

.navbar-brand img {
height: 50px;
}
body {
    background: #666;
    font-family: Courier, Monospace;
    padding: 30px;
}
.homer-micro-wrapper {
	position: relative;
}
#microwave-wrapper {
	margin: 0 auto;
	width:100%;
	position:absolute;
	left: 0px;
  top: 364px;
	overflow: hidden;
}
#microwave {
    margin: 0 auto;
    background: #FFF;
    width: 80%;
    height: 210px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 1%, rgba(254, 254, 254, 1) 5%, rgba(247, 247, 247, 1) 12%, rgba(235, 235, 235, 1) 13%, rgba(242, 242, 242, 1) 60%, rgba(186, 186, 186, 1) 90%, rgba(112, 112, 112, 1) 100%);
    position: relative;
    border-bottom: 2px solid #252525;
		z-index: 200;
}
#microwave:after, #microwave:before {
    content:"";
    position: absolute;
    bottom: -6px;
    height: 6px;
    width: 35px;
    background: #252525;
    border-radius: 0px 0px 3px 3px;
}
#microwave:after {
    right: 25px;
}
#microwave:before {
    left: 25px;
}
.door, .panel {
    float: left;
    display: inline-block;
    height: 210px;
    position: relative;
}
.door {
    width: 80%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 3%);
    border-radius: 10px 0px 0px 10px;
    border-right: 2px solid #4e4e4e;
}
.door:after {
    content:"";
    position: absolute;
    z-index: 5;
    border-radius: 100% 0 0 100%;
    height: 60px;
    width: 10px;
    right: 27px;
    top: 50%;
    margin-top: -30px;
    background: #f4f4f4;
}
.glass {
    height: 150px;
    width: 80%;
    margin: 30px auto 0;
    border-radius: 10px;
    box-shadow: inset 0 0 15px #000, 2px 2px 2px #FFF;
    background: #343434;
    position: relative;
}
.glass:after {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 10px;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.05) 51%, rgba(255, 255, 255, 0) 100%);
}
.glass:before {
    content:"";
    position: absolute;
    border-radius: 7px;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #E2E2C0 40%,  transparent 41%,  transparent 100%);
    background-image: -webkit-radial-gradient(center center, #E2E2C0 40%, transparent 41%);
    background-image: radial-gradient(center center, #E2E2C0 40%, transparent 41%);
    background-size:3px 3px;
    background-position: 0 0, 6px 6px;
}
.animated .glass:before {
    animation: cooking 0.1s linear 15s forwards;
}
@keyframes cooking {
    to {
      background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #4b4f52 40%,  transparent 41%,  transparent 100%);
      background-image: -webkit-radial-gradient(center center, #4b4f52 40%, transparent 41%);
      background-image: radial-gradient(center center, #4b4f52 40%, transparent 41%);
    }
}
.panel {
    width: 20%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 8%);
    border-radius: 0px 10px 10px 0px;
}
.timer {
    background: linear-gradient(rgba(56, 56, 56, 0.65) 0%, rgba(56, 56, 56, 0.65) 48%, rgba(56, 56, 56, 0.33) 50%, rgba(54, 54, 54, 0) 52%, rgba(0, 0, 0, 0) 100%) #232323;
    height: 29px;
    line-height: 29px;
    margin-top: 35px;
    box-shadow: inset 0 0 5px #000;
    color: #0cff0f;
    text-align: center;
    text-shadow: 0px 0px 10px #0cff0f;
    counter-reset: countdown 16;
    overflow:hidden;
}
.time:after {
    content:"00:" counter(countdown, decimal-leading-zero);
    counter-increment: countdown -1;
}
.animated .time:first-child {
    animation: count 15s steps(15, end) forwards;
}
@keyframes count {
    to {
        margin-top: -435px;
    }
}
.control {
    width: 40%;
    height: 30px;
    margin: 20px auto 0;
    position: relative;
    z-index: 10;
}
.control:before, .control:after {
    content:"";
    position: absolute;
    border-radius: 100%;
}
.control:before {
    background: linear-gradient(to bottom, rgba(132, 132, 132, 1) 0%, rgba(255, 255, 255, 1) 100%) no-repeat;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -2;
    border: 2px dotted #000;
    background-clip: content-box;
}
.control:after {
    background: linear-gradient(to right, rgba(235, 235, 235, 1) 16%, rgba(188, 188, 188, 1) 40%, rgba(216, 216, 216, 1) 41%, rgba(245, 245, 245, 1) 62%, rgba(225, 225, 225, 1) 63%, rgba(236, 236, 236, 1) 79%, rgba(246, 246, 246, 1) 100%);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    box-shadow:inset 0 0 1px 1px #000;
}
.control:last-child {
    cursor: pointer;
}
.animated .control:last-child:after {
    transform: rotate(30deg);
    animation: rotate 15s linear forwards;
}
@keyframes rotate {
    to {
        transform: rotate(0deg);
    }
}
.infos {
    background: #FFF;
    position: absolute;
    top: 5px;
    left: 20px;
    height: 20px;
    width: 0;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
		padding-left: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.animated .infos {
    animation: show 0.1s 15s steps(1, end) forwards, bounce 1s alternate infinite;
}
.infos:before {
    content:"";
    position: absolute;
    left: -10px;
    border-right: 10px solid #FFF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.infos:after {
    content:"Click!";
    overflow: hidden;
    display: block;
}
@keyframes show {
    to {
        opacity: 1;
        width: 120px;
    }
}
@keyframes bounce {
    to {
        left: 45px;
    }
}
#homer-wrapper {
  width:165px;
  position:relative;
  margin: 0px auto;
	overflow: visible !important;
}
#homer {
	min-width: 165px;
}
.head {
  position: relative;
  z-index: 1;
  height: 350px;
  border: 5px solid #000;
  background: #fed61e;
  border-radius: 80px;
  box-shadow: inset -5px -5px 0 2px rgba(0,0,0,0.2),
    inset 5px 5px 0 2px rgba(255,250,196,0.3);
}

.hair, .hair > div {
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
  width: 60px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
}
.hair > div {
  margin-top: 17px;
}

.eyebrows {
  position: absolute;
  top: 112px;
  left: -10px;
  right: -10px;
  z-index: 1;
}
.eyebrow {
  position: relative;
  z-index: 2;
  float: left;
  height: 36px;
  width: 40px;
  background: #fed61e;
  border-left: 2px solid #000;
  border-radius: 50%;
  box-shadow: inset 5px 5px 0 2px rgba(255,250,196,0.3);
}
.eyebrow:last-child {
  float: right;
  border-left: 0;
  border-right: 2px solid #000;
  box-shadow: inset -5px -5px 0 2px rgba(0,0,0,0.2);
}

.eyes {
  position: absolute;
  top: 115px;
  left: -10px;
  right: -10px;
}
.eye {
  position: relative;
  z-index: 2;
  float: left;
  height: 80px;
  width: 80px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}
.eye:last-child {
  float: right;
  box-shadow: inset -5px -5px 0 2px rgba(0,0,0,0.05);
}

.iris {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 2px;
  right: 0;
  width: 14px;
  height: 14px;
  margin: -7px auto 0 auto;
  border-radius: 50%;
  background: #000;
}

.ears {
  position: absolute;
  top: 170px;
  left: -15px;
  right: -15px;
}
.ear {
  position: relative;
  z-index: 0;
  float: left;
  height: 40px;
  width: 40px;
  background: #fed61e;
  border: 5px solid #000;
  border-radius: 50%;
}
.ear:last-child {
  background: #ebce44;
  float: right;
  box-shadow: inset -5px -5px 0 2px rgba(0,0,0,0.05);
}

.nose {
  position: absolute;
  z-index: 3;
  top: 175px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 38px;
  width: 46px;
  background: #fed61e;
  border: 2px solid #000;
  border-top: none;
  border-radius: 50%;
  box-shadow: inset -3px -3px 0 2px rgba(0,0,0,0.2),
    1px 3px 0 2px rgba(0,0,0,0.1);
}

.beard {
  position: inherit;;
  z-index: 2;
  top: 200px;
  left: -15px;
  right: -10px;
  height: 140px;
  min-width: 180px;
  background: #d3a64b;
  border: 2px solid #000;
  border-width: 2px 5px;
  border-radius: 50%;
  box-shadow: inset -5px -5px 0 2px rgba(0,0,0,0.2),
    inset 5px 5px 0 2px rgba(255,250,196,0.1);
}

.mouth {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 0;
  right: 0;
  height: 55px;
  width: 130px;
  margin: 0 auto;
  border-bottom: 5px solid #000;
  border-radius: 80%;
}
.mouth:before, .mouth:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  top: 30px;
  left: -3px;
  height: 20px;
  width: 20px;
  border-left: 3px solid #000;
  border-radius: 40%;
  -webkit-transform: rotate(45deg);
}
.mouth:after {
  left: auto;
  right: -3px;
  border-left: none;
  border-right: 3px solid #000;
  -webkit-transform: rotate(-45deg);
}

.chin {
  position: absolute;
  z-index: 2;
  top: 105px;
  left: 0;
  right: 0;
  height: 8px;
  width: 30px;
  margin: 0 auto;
  border-bottom: 2px solid #000;
  border-radius: 80%;
}
